
#sauce-wrap {
  margin-top: 20px;
}

.sauce-inner .form-table td {
  padding-left: 0;
}

.sauce-inner .form-table td.heading {
  padding-bottom: 0;
}

.sauce-profile-img {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  margin-top: 5px;
}

.sauce-notice {
  padding: 8px 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.sauce-notice-red {
  background-color: #FFEBE8;
  border: 1px solid #C00c00;
}
.sauce-notice-yellow {
  background-color: #fff;
  border-left: 4px solid #7ad03a;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}